{% extends "base.html" %}
{% block content %}
<div class='mx-auto w-1/2 my-9'>
     {% if messages %} {% for message in messages %}
        <div
          class="px-2 py-1 {% if message.tags == 'success' %} bg-green-500{% elif message.tags == 'error' %}bg-red-500{% endif %} text-white rounded mb-2"
        >
          {{ message }}
        </div>
        {% endfor %} {% endif %}
            
        

    <form method="post" action="{% url "sign-in" %}">
        {% csrf_token %}
        {{form}}
        <button class='bg-purple-600 mt-3 rounded px-2 py-1 text-white' type= 'submit'>Sign in</button>
    </form>
      <p><a href="{% url 'reset-password' %}">Forget Password?</a></p>

</div>
{% endblock content %}
