{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>{% block title %}   Main {% endblock title %}</title>
    
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  </head>
  <body>
    <div class="p-8 text-center">

        <nav class="bg-white shadow text-center ">
          <div class="mx-auto">
            <div class="flex justify-between h-16 items-center">
              <a href="#" class="text-2xl font-bold text-purple-600"
                >Event Management</a
              >
  
              <div class="md:flex space-x-6 items-center">
                <a href="{% url "user_page" %}" class="hover:text-purple-500 font-semibold">Home</a>
                <a href="{% url 'organizer_view' %}" class="hover:text-purple-500 font-semibold">Events</a>
                <a href="{% url 'dashboard' %}" class="hover:text-purple-500 font-semibold"
                  >Dashboard</a
                >
                <a href="#" class="hover:text-purple-500 font-semibold"
                  >Contact</a
                >
                
                  <a class = "bg-purple-600 rounded-md p-2 m-2 font-semibold text-white hover:bg-purple-800 mt-4" href="{% url 'create_event' %}">CREATE EVENT</a> 
                  {% if user.is_authenticated %}

                  <a class = "bg-purple-600 rounded-md p-2 m-2 font-semibold text-white hover:bg-purple-800 mt-4" href="{% url 'sign-out' %}">Logout</a>
                  {% else %} 
                  <a class = "bg-purple-600 rounded-md p-2 m-2 font-semibold text-white hover:bg-purple-800 mt-4" href="{% url 'sign-in' %}">Login</a> 
                  <a class = "bg-purple-600 rounded-md p-2 m-2 font-semibold text-white hover:bg-purple-800 mt-4" href="{% url 'sign-up' %}">Sign Up</a> 
                  {% endif %}
                  
               
              </div>
            </div>
          </div>
        </nav>
 
    {% block content %}
    
    <div class="max-w-md mx-auto mt-6">
      <form
        action="{% url "search" %}"
        method="GET"
        class="flex items-center border border-gray-300 rounded-md overflow-hidden shadow-sm"
      >
        <input
          type="text"
          name="search"
          placeholder="Search Events or location"
          class="w-full px-4 py-2 text-gray-700 focus:outline-none focus:ring-2 focus:ring-purple-500"
        />
        <button
          type="submit"
          class="bg-purple-600 text-white px-4 py-2 hover:bg-purple-700 transition"
        >
          Search
        </button>
      </form>
      {% if query %}
      <p class="text-sm text-gray-600 italic text-center">Results for "{{ query }}"</p>
      {% endif %}
    </div>
      



<main class="bg-gray-50">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-8">
    {% for event in events %}
      <div class="h-100 w-80 shadow-md rounded-md transition ease-in-out delay-150 bg-purple-300 hover:-translate-y-1 hover:scale-110 hover:bg-gray-400 duration-300">
 
          <img src="{{event.asset.url}}" alt="browse image" />


      <h5 class="font-semibold">{{event.name}}</h5>
      <h5 class="font-semibold">Category: {{event.category}}</h5>
      <h5 class="font-semibold">location: {{event.location}}</h5>
      <h6 class="font-semibold">DATE: {{event.date}}</h6>
      

        <p>
          {{event.description}}
        </p>
        {% if user in event.participants.all %}
        <p class="text-green-600 font-semibold">Already RSVP</p>
      {% else %}
        <form action="{% url 'rsvp_event' event.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="bg-purple-600 text-white px-4 py-2 my-2 mb-4 rounded hover:bg-purple-700">
              RSVP
            </button>
        </form>
      {% endif %}
        
   
      </div>
    {% endfor %}

  </div>
</main>
    {% endblock %}
    </div>
  </body>
</html>
