{% extends "base.html" %}
{% load static %}

{% block content %}


 <div>
        {% if messages %} {% for message in messages %}
        <div
          class="px-2 py-1 w-full {% if message.tags == 'success' %} bg-green-500{% elif message.tags == 'error' %}bg-red-500{% endif %} text-white rounded mb-2"
        >
          {{ message }}
        </div>
        {% endfor %} {% endif %}
  </div>


<div class= "max-w-xl mx-auto mt-10">
<h2 class = "font-semibold text-2xl text-purple-600 mb-3">Add Participant</h2>
<form class="shadow-sm border border-black" action="" method="post">
  {{ form }}
  {% csrf_token %}
  <button  type ='submit' class="rounded-md bg-purple-600 p-2  m-1 text-white">ADD Participant</button>
</form>
</div>
{% endblock content %}